.notepadContainer {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: white;
  background-color: #235ed6;
  border-radius: 5px;
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.74);
  min-width: 350px;
  min-height: 200px;
  z-index: 10;
}

.notepadContainer::after {
  display: flex;
  position: absolute;
  content: "";
  width: 100%;
  height: 27px;
  z-index: 1;
}

.notepadContainer > h3 {
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: 600;
  left: 30px;
  top: -5px;
}

.closePad {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 21px;
  width: 21px;
  color: white;
  background-color: red;
  border-radius: 3px;
  z-index: 10;
  border: 1px solid white;
}

.closePad:hover {
  cursor: pointer;
  box-shadow: inset -2px 2px 2px rgba(255, 255, 255, 0.575);
}

.maximizePad {
  position: absolute;
  top: 2px;
  right: 27px;
  height: 21px;
  width: 21px;
  color: white;
  border-radius: 3px;
  z-index: 10;
  border: 1px solid white;
}

.maximizePad::after {
  content: "";
  color: white;
}

.maximizePad:hover {
  cursor: pointer;
  box-shadow: inset -2px 2px 2px rgba(255, 255, 255, 0.623);
}

.maximizePad > span {
  position: absolute;
  width: 12px;
  height: 9px;
  bottom: 4px;
  transform: translateX(-50%);
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}

.minimizePad {
  position: absolute;
  top: 2px;
  right: 52px;
  height: 21px;
  width: 21px;
  color: white;
  border-radius: 3px;
  z-index: 10;
  border: 1px solid white;
}

.maximizePad:hover {
  cursor: pointer;
  box-shadow: inset -2px 2px 2px rgba(255, 255, 255, 0.575);
}

.minimizePad > span {
  position: absolute;
  width: 12px;
  height: 9px;
  bottom: 4px;
  transform: translateX(-50%);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.minimizePad:hover {
  cursor: pointer;
  box-shadow: inset -2px 2px 2px rgba(255, 255, 255, 0.582);
}

.options {
  position: absolute;
  width: auto;
  height: 25px;
  left: 5px;
  right: 5px;
  top: 30px;
  background-color: #edebdd;
  border-bottom: 1px solid #6e95e2;
  z-index: 10;
}

.padContent {
  position: absolute;
  top: 55px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  width: auto;
  height: auto;
  background-color: white;
}

.fileTab {
  display: flex;
  position: absolute;
  margin-top: 1px;
  left: -40px;
}

.fileTab > li {
  display: flex;
  position: relative;
  color: black;
  list-style: NONE;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
}

.fileTab > li:hover {
  background-color: #235ed6;
  color: white;
  cursor: default;
}

textarea {
  position: relative;
  width: 99.2%;
  height: 98.5%;
  resize: none;
  overflow: scroll;
  outline: none;
  border-radius: 5px;
  border: transparent;
}
