.paintContainer {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  top: 10%;
  z-index: 10;
}

.paintApp {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 60vw;
  background-color: white;
  border-radius: 5px;
  border-left: 4px solid #235ed6;
  border-right: 4px solid #235ed6;
  border-bottom: 4px solid #235ed6;
}

.paintHeader {
  height: 30px;
  width: 100%;
  background-color: #235ed6;
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.74);
}

.paintOptions {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  width: 100%;
  background-color: #edebdd;
  border-bottom: 1px solid #6e95e2;
}

.drawingBoard {
  position: absolute;
  top: 80px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
}

.canvas {
  position: relative;
}


.drawingSelector {
  position: relative;
  height: 80%;
  width: 80px;
  top: 5px;
  background-color: white;
  margin-left: 50px;
}

.colorSelector {
  position: relative;
  height: 80%;
  width: max-content;
  top: 5px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.selectedColor {
  position: relative;
  height: 80%;
  width: 80px;
  top: 5px;
  margin-right: 50px;
  background-color: rgb(29, 7, 7);
}


.colorPallet {
  display: grid;
  position: relative;
  top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  grid-row: 1;
  grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
  grid-template-rows: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
  grid-gap: 2px;
  color: #444;
}

.colorPallet>div {
  background-color: rgb(32, 22, 175);
  color: #fff;
  padding: 5px;
  font-size: 150%;
}

#one {
  background-color: #010000;
}

#one:hover {
  transform: scale(1.1);
}

#two {
  background-color: #858182;
}

#two:hover {
  transform: scale(1.1);
}

#three {
  background-color: #8C0212;
}

#three:hover {
  transform: scale(1.1);
}

#four {
  background-color: #EE221B;
}

#four:hover {
  transform: scale(1.1);
}

#five {
  background-color: #E2EEFC;
}

#five:hover {
  transform: scale(1.1);
}

#six {
  background-color: #FFF410;
}

#six:hover {
  transform: scale(1.1);
}

#seven {
  background-color: #21B350;
}

#seven:hover {
  transform: scale(1.1);
}

#eight {
  background-color: #00A7E6;
}

#eigth:hover {
  transform: scale(1.1);
}

#nine {
  background-color: #08A5F4;
}

#nine:hover {
  transform: scale(1.1);
}

#ten {
  background-color: #404AD0;
}

#ten:hover {
  transform: scale(1.1);
}

#eleven {
  background-color: #A949AD;
}

#eleven:hover {
  transform: scale(1.1);
}

#twelve {
  background-color: #FFFDFC;
}


#twelve:hover {
  transform: scale(1.1);
}

#thirteen {
  background-color: #C9C7C8;
}

#thirteen:hover {
  transform: scale(1.1);
}

#fourteen {
  background-color: #BD7C60;
}


#fourteen:hover {
  transform: scale(1.1);
}

#fifteen {
  background-color: #FFAFD0;
}

#fifteen:hover {
  transform: scale(1.1);
}

#sixteen {
  background-color: #F5D504;
}

#sixteen:hover {
  transform: scale(1.1);
}

#seventeen {
  background-color: #F5E8B4;
}

#seventeen:hover {
  transform: scale(1.1);
}


#eighteen {
  background-color: #BAE345;
}

#eighteen:hover {
  transform: scale(1.1);
}

#nineteen {
  background-color: #9FDEF0;
}

#nineteen:hover {
  transform: scale(1.1);
}

#twenty {
  background-color: #6F98C6;
}


#twenty:hover {
  transform: scale(1.1);
}

#twentyOne {
  background-color: #CCC3EE;
}

#twentyOne:hover {
  transform: scale(1.1);
}


#twentyTwo {
  background-color: #7387fb;
}

#twentyTwo:hover {
  transform: scale(1.1);
}

#twentyThree {
  background-color: #9f962c;
}

#twentyThree:hover {
  transform: scale(1.1);
}


#twentyFour {
  background-color: #f77f1d;
}

#twentyFour:hover {
  transform: scale(1.1);
}

#twentyFive {
  background-color: #588e6e;
}

#twentyFive:hover {
  transform: scale(1.1);
}

#twentySix {
  background-color: #99f4d6;
}

#twentySix:hover {
  transform: scale(1.1);
}

#twentySeven {
  background-color: #54a5d0;
}

#twentySeven:hover {
  transform: scale(1.1);
}

#twentyEight {
  background-color: #8b3609;
}

#twentyEigth:hover {
  transform: scale(1.1);
}

#twentyNine {
  background-color: #6eca59;
}

#twentyNine:hover {
  transform: scale(1.1);
}

#thirty {
  background-color: #ceb37f;
}


#thirty:hover {
  transform: scale(1.1);
}

#thirtyOne {
  background-color: #550ad2;
}


#thirtyOne:hover {
  transform: scale(1.1);
}

#thirtyTwo {
  background-color: #4668ea;
}


#thirtyThree:hover {
  transform: scale(1.1);
}