.sizeContainer {
    position: absolute;
    width: auto;
    height: 100%;
    max-width: 50%;
}

.resizableWrap {
    position: relative;
    margin: 0 auto;
    top: 10%;
    bottom: 0;
    left: 48vw;
    height: 150px;
    width: 150px;
    background-color: yellowgreen;
    border-radius: 5px;
    z-index: 100;
}

.resizer {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    z-index: 2;
}

.resizer.ne {
    top: -1px;
    right: -1px;
    cursor: ne-resize;
}

.resizer.nw {
    top: -1px;
    left: -1px;
    cursor: nw-resize;
}

.resizer.sw {
    bottom: -1px;
    left: -1px;
    cursor: sw-resize;
}

.resizer.se {
    bottom: -1px;
    right: -1px;
    cursor: se-resize;
}