.container {
  display: flex;
  align-content: flex-end;
  z-index: 20;
}

.menubar {
  display: flex;
  align-content: center;
  position: absolute;
  bottom: 0;
  background-color: #235ed6;
  z-index: 20;
  box-shadow: inset 1px 2px 5px white;
  width: 100%;
  height: 2rem;
}

.startMenu {
  background-color: #228d23;
  width: 100px;
  height: 100%;
  border-top-right-radius: 20% 50px;
  border-bottom-right-radius: 20% 50px;
  box-shadow: inset 1px 2px 2px white;
}

.startMenu:hover {
  cursor: pointer;
}

.startMenu > img {
  position: absolute;
  width: 1.4rem;
  margin-left: -45px;
  margin-top: 5px;
}

.startMenu > h1 {
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 18px;
  color: white;
  font-weight: bolder;
  margin-left: 10px;
  height: 0;
  position: absolute;
  margin: 7px 33px;
}

.toolsWrap {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 9rem;
  background-color: #10acf7;
  z-index: 2;
  box-shadow: inset -2px 2px 2px white;
  display: flex;
  flex-direction: column;
}
.toolsWrap > div {
  color: white;
  margin-top: 4px;
  margin-left: 50px;
  font-weight: 600;
}

.toolsWrap > div:hover {
  cursor: pointer;
}

#sound {
  position: absolute;
  width: 15%;
  margin-top: 5px;
  margin-left: 50px;
}

#sound:hover {
  cursor: pointer;
}

#defender {
  position: absolute;
  margin-top: 8px;
  margin-left: 20px;
  width: 12%;
}

#defender:hover {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.desktop {
  position: absolute;
  width: 100%;
  height: 100vh;
}
