.App {
  text-align: center;
  background-image: url('../src/imgs/wallaper.jpg');
  background-position: center;
  background-clip: border-box;
  background-size: cover;
  width: auto;
  height: 100vh;
}

